@import "tailwindcss";
body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: #020617; /* deep navy */
  color: #e5e7eb; /* soft white */
}
/* index.css */
html, body {
  overflow-x: hidden;
}
